@import "tailwindcss";

:root {
  --background: #ffffff; /* white background */
  --foreground: #000000; /* black text */
  --font-family-base: var(--font-poppins);
  --font-zen: var(--font-zen-old-mincho);
}

/* optional: keep dark mode override */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-base), sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-zen {
  font-family: var(--font-zen-old-mincho), serif;
}

.containers {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .containers {
    width: 90%;
    margin: 0 auto;
  }
}


@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 20s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
